.App {
  text-align: center;
}

.main-img {
  height: 400px;
  background-color: blanchedalmond;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-title {
  margin-left: 370px;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.contentWrapper{
  flex: 1;
}

.home-img {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.home-desc {
  height: 500px;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  color : white;
  text-align: center;
}

.home-box {
  border : 3px solid white;
  border-radius: 5px;
  height : 250px;
  margin-top: 20px;
}

.nft-layout1 {
  height : 400px;
  width : 800px;
  float : left;
  position: relative;

}

.nft-layout2 {
  height : 400px;
  width : 400px;
  float : right;
  position: relative;

}


.wallet-icon {
  width: 18rem;
  margin: 1rem;
  float: left;

}

.wallet-img {
  height: 50px;
  width: 10%;
  position: relative;
  float: left;
}


.NFTs {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CenterBtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.linechart {
  background-color: white;
  position: relative;
  border: 3px solid darkolivegreen;
  border-radius: 10px;
}


.filter {
  float: right;
  text-align: right;
}


.totalPrice {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 30px;


}

.latestNews {
  position: absolute;
  margin-left: 1670px;
  margin-top: 10px;


}

.footer {
  background-color: #26272b;
  margin-top: auto;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.auction-title {
  text-align: center;
  margin : 30px;
  color : blue;
}

.auction-subtitle {
  text-align: center;
  margin : 30px;
  color : black;
}

.home-title {
  text-align: center;
  text-shadow: 5px;
  margin-top: 50px;

}


.home-subtitle {
  text-align: center;
  color : rgb(146, 146, 39);
  text-align: center;
  text-shadow: 5px;
  margin-top: 20px;
}

.home-btn {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top : 10%;

}

.add-btn {
  position: relative;
  left: 50%;
  top : 5%;
  width: 50px;
  height: 50px;



 }



.wallet-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  width: 25%;
  border: 7px solid rgba(41, 189, 142, 0.848);
  border-radius: 5px;
}

.auction-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

.auction {
  margin: auto;
  margin-top: 15px;
  width: 60%;
  margin-top: 40px;
  border-radius: 20px;

}


.margin-r {
  margin-right: 10px;
}

.text-r {
  color : red;
  position: absolute;
  right: 25px;
  top: 12px;
}

